In [1]:
%reload_ext nb_black

import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.multitest import multipletests
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
import os

print(os.getcwd())

print(os.listdir(os.getcwd()))

C:\Users\jlim7\OneDrive\Documents\GitHub\Capstone1_Rename_later
['.git', '.gitignore', '.ipynb_checkpoints', 'Initial EDA.ipynb', 'modern-renewable-energy-consumption.csv', 'README.md']

In [2]:
energy = pd.read_csv("modern-renewable-energy-consumption.csv")
energy.head()

,Entity,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
0,Africa,NaN,1965,14.278806,0.0,0.0,0.0
1,Africa,NaN,1966,15.649049,0.0,0.0,0.0
2,Africa,NaN,1967,16.158333,0.0,0.0,0.0
3,Africa,NaN,1968,18.622983,0.0,0.0,0.0
4,Africa,NaN,1969,21.582897,0.0,0.0,0.0

In [3]:
# 1060 null in df
energy.isna().sum().sum()

1060

In [4]:
energy["Entity"].unique()

array(['Africa', 'Algeria', 'Argentina', 'Asia Pacific', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium',
       'Brazil', 'Bulgaria', 'CIS', 'Canada', 'Central America', 'Chile',
       'China', 'Colombia', 'Croatia', 'Cyprus', 'Czech Republic',
       'Denmark', 'Eastern Africa', 'Ecuador', 'Egypt', 'Estonia',
       'Europe', 'Europe (other)', 'Finland', 'France', 'Germany',
       'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malaysia', 'Mexico', 'Middle Africa', 'Middle East',
       'Morocco', 'Netherlands', 'New Zealand', 'North America', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia',
       'South & Central America', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'USSR', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Africa', 'World'],
      dtype=object)

In [5]:
energy["Entity"].value_counts()

Iceland                    54
Canada                     54
Singapore                  54
South & Central America    54
Israel                     54
                           ..
Azerbaijan                 34
Croatia                    29
Slovenia                   29
Macedonia                  29
USSR                       20
Name: Entity, Length: 100, dtype: int64

In [7]:
energy["Year"].unique()

array([1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
      dtype=int64)

In [8]:
energy["Year"].value_counts()

2015    99
1998    99
1990    99
2011    99
2013    99
2009    99
2005    99
2001    99
1997    99
1993    99
2016    99
2012    99
2008    99
2004    99
2000    99
1996    99
1992    99
1994    99
2017    99
2002    99
2014    99
1991    99
2006    99
1995    99
1999    99
2003    99
2007    99
2018    99
2010    99
1988    96
1989    96
1985    96
1986    96
1987    96
1965    87
1984    87
1980    87
1976    87
1972    87
1983    87
1981    87
1969    87
1973    87
1977    87
1979    87
1975    87
1971    87
1967    87
1966    87
1970    87
1974    87
1978    87
1982    87
1968    87
Name: Year, dtype: int64

In [12]:
energy.groupby(["Entity"]).agg(["count"])

,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
,count,count,count,count,count,count
Entity,,,,,,
Africa,0,54,54,54,54,54
Algeria,54,54,54,54,54,54
Argentina,54,54,54,54,54,54
Asia Pacific,0,54,54,54,54,54
Australia,54,54,54,54,54,54
...,...,...,...,...,...,...
Uzbekistan,34,34,34,34,34,34
Venezuela,54,54,54,54,54,54
Vietnam,54,54,54,54,54,54
Western Africa,0,54,54,54,54,54
World,54,54,54,54,54,54

In [14]:
us = energy[energy["Entity"] == "United States"]
us.head()

,Entity,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
4787,United States,USA,1965,198.974086,0.0,0.0,13.332232
4788,United States,USA,1966,199.936907,0.0,0.0,14.062007
4789,United States,USA,1967,227.220813,0.0,0.0,14.073571
4790,United States,USA,1968,228.154705,0.0,0.0,15.546045
4791,United States,USA,1969,256.028522,0.0,0.0,16.227060

In [17]:
us_recent = us[us["Year"] >= 2000]
us_recent.head(15)

,Entity,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
4822,United States,USA,2000,272.761351,0.518513,5.649759,66.582822
4823,United States,USA,2001,210.240000,0.574351,6.805385,66.830436
4824,United States,USA,2002,258.167579,0.601598,10.458869,71.789357
4825,United States,USA,2003,269.970968,0.610654,11.300471,71.332140
4826,United States,USA,2004,262.554644,0.698132,14.286607,71.945373
4827,United States,USA,2005,266.427744,0.748901,17.990454,72.598060
4828,United States,USA,2006,285.544014,0.824432,26.857714,73.082271
4829,United States,USA,2007,243.044063,1.095410,34.797906,73.869551
4830,United States,USA,2008,251.053862,1.633063,55.922323,73.551474
4831,United States,USA,2009,271.533080,2.075960,74.632457,73.159861
4832,United States,USA,2010,257.274684,3.013036,95.608329,75.061846
4833,United States,USA,2011,316.095341,4.738904,121.390504,75.775159
4834,United States,USA,2012,274.030027,9.037014,142.244144,77.036102
4835,United States,USA,2013,266.549848,16.039695,169.535096,80.665532
4836,United States,USA,2014,255.750580,29.216162,183.490184,84.070229